body, html {
    height: 100%;
    margin: 0;
    padding:0;
    width: 100%;
    Button{

      background:green;
      display: inline-block;
      padding: .35em .65em;
      font-size: .75em;
      font-weight: 700;
      line-height: 1;
      color: white;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: .25rem;
      cursor: pointer;
    }
  }

  
  #footerText {
    text-align: center;
    padding: 1em;
    background-color: rgb(233, 233, 233);
  }
  #formCard{
    
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    border-radius: 5px;
    margin: 50px 20px 20px 20px;
    width: calc(33.3333% - 40px); /* 1/3 minus the margins (20+20) */
    padding: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    float: left;
  
  }
  
  #cardBody {
    #diff {
      font-size: 10px;
      float: right;
    }
    #taskText {
      margin-bottom: 0;
      cursor:pointer;
    }
  }
  
  

  
  
  #hideButton {
    background :red;
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    cursor: pointer;
  }
  
  #badge-success {
    background:green;
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    cursor: pointer;
  }
  
  
 
  

  
 
  .todo {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin: 2em;
  
    .mr-auto {
      margin-right: 300px;
      margin-left: 30px;
    }
  
  
    
    #navBlack {
      background: gray;
      margin: 30px 30px 30px 30px;
      padding-left: 10px;
      border-radius: 3px;
 
    }
    
  
  }